* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #677788;
}

.navbar-brand,
.navbar-brand>img {
  width: 7.5rem;
}

.header .nav-link {
  color: #677788;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

.header .nav-link:hover {
  color: #007bff;
}

.footer .nav-link {
  color: #fff;
  padding-left: 0;
}

.nav-link:hover {
  text-decoration: none;
}

.btn-link {
  text-decoration: none;
}

.slider-item:focus, .btn:focus {
  outline: none;
  box-shadow: none;
}

.typed-cursor {
  color: #007bff;
}

.border-highlight {
  background: left 1em/1em .2em;
  background-image: linear-gradient(to bottom, rgba(245, 202, 153, .5) 0, rgba(245, 202, 153, .5) 100%);
  background-repeat: repeat-x;
}

.min-h-450rem {
  min-height: 28.125rem;
}

.bg-img-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.bg-dark {
  background-color: #131d36 !important;
}

.bg-warning {
  background-color: #f0b26b !important;
}

.bg-light {
  background-color: #f7faff !important;
}

.nav-white .nav-link {
  opacity: 0.7;
}

.btn-primary:active {
  background-color: #045cff;
  border-color: #0056f6;
}

.btn-primary:hover {
  background-color: #377dff;
  border-color: #377dff;
  box-shadow: 0 4px 11px rgb(55 125 255 / 35%);
}

.btn-primary:active:focus {
  box-shadow: none!important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: #1e2022;
  line-height: 1.4;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.3rem;
}

a {
  color: #377dff;
  text-decoration: none;
}

a:hover {
  color: #0052ea;
  text-decoration: none;
}

@media (min-width: 992px) {
  .main-text {
    padding: 30vh 0;
    width: 75%;
  }
}
.btn-link:hover, .btn-link:focus {
    text-decoration: none;
}

.title p {
  font-size: 1.25rem;
}

.position-absolute {
  right: 0;
}

.rounded {
  border-radius: 0.75rem !important;
}

.card.rounded {
  cursor: pointer;
  opacity: 0.8;
}

.card.rounded:hover {
  opacity: 1;
  position: relative;
  bottom: 3px;
}

.testimonials {
  margin: 15vh auto;
}

.border-left {
  border-left: .0625rem solid #e7eaf3 !important;
}
