* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #677788;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: #1e2022;
  line-height: 1.4;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.3rem;
}

a {
  color: #377dff;
  text-decoration: none;
}

a:hover {
  color: #0052ea;
  text-decoration: none;
}

a:focus {
  outline: none;
}

/*-------------------------------------------------------IMAGES-------------------------------------------------------*/
.navbar-brand,
.navbar-brand>img,
.navbar-brand-img {
  width: 7.5rem;
}

.bg-img-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.avatar {
  height: 1.75rem;
  width: 1.75rem;
}

/*-------------------------------------------------------LINKS, BUTTONS-------------------------------------------------------*/
.header .nav-link {
  color: #677788;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #007bff;
}

.footer .nav-link {
  color: #fff;
  padding-left: 0;
}

.nav-link:hover, .btn-link, .btn-link:hover, .btn-link:focus {
  text-decoration: none;
}

.slider-item:focus, .btn:focus, .go-up-button:focus {
  outline: none;
  box-shadow: none;
}

.nav-white .nav-link {
  opacity: 0.7;
}

.nav-white .nav-link:hover {
  opacity: 1;
}

.btn-primary:active {
  background-color: #045cff;
  border-color: #0056f6;
}

.btn-primary:active:focus {
  box-shadow: none !important;
}

.go-up-button {
  color: rgba(19, 29, 54, 0.5);
  z-index: 1001;
  border: none;
  background-color: rgba(55, 125, 255, 0.3);
  width: 30px;
}

.go-up-button:hover {
  color: #fff;
  background-color: rgba(55, 125, 255, 1);
}

.navbar-toggler {
  border: none;
  height: 40px;
}

/*-------------------------------------------------------CHANGING TEXT-------------------------------------------------------*/
.typed-cursor {
  color: #007bff;
}

.border-highlight {
  background: left 1em/1em .2em;
  background-image: linear-gradient(to bottom, rgba(245, 202, 153, .5) 0, rgba(245, 202, 153, .5) 100%);
  background-repeat: repeat-x;
}

/*-------------------------------------------------------SIZES, SPACING-------------------------------------------------------*/
.min-h-450rem {
  min-height: 28.125rem;
}

.main-text {
  padding: 5vh 0;
}

.title p {
  font-size: 1.25rem;
}

.rounded {
  border-radius: 0.75rem !important;
}

.learning, .testimonials, .features {
  margin: 15vh auto;
}

.landings-popper .row {
  margin: 0;
}

.landings-popper-image {
  padding: 10vh 10vh;
}

.dropdown-item {
  padding-left: 0;
}

/*-------------------------------------------------------BACKGROUND COLORS, IMAGES-------------------------------------------------------*/
.bg-dark {
  background-color: #131d36 !important;
}

.bg-warning {
  background-color: #f0b26b !important;
}

.bg-light {
  background-color: #f7faff !important;
}

.landings-popper-image {
  background-image: url("../images/img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

/*-------------------------------------------------------POSITIONING-------------------------------------------------------*/
.position-absolute {
  right: 0;
  z-index: -1;
}

.z-index-low {
  z-index: -10;
}

.go-up-button {
  right: 15px;
  bottom: 15px;
}

.fixedTop {
  position: fixed;
  top: 0;
  bottom: auto;
}

/*-------------------------------------------------------EFFECTS-------------------------------------------------------*/
/*----------------------BUTTON EFFECTS----------------------*/
.btn-primary:hover {
  background-color: #377dff;
  border-color: #377dff;
  box-shadow: 0 4px 11px rgb(55 125 255 / 35%);
  position: relative;
  bottom: 1px;
}

/*----------------------CARD EFFECTS----------------------*/
.translate3d {
  cursor: pointer;
  opacity: 0.8;
  transition: all .2s ease-in-out;
}

.translate3d:hover {
  opacity: 1;
  transform: translateY(-3px);
}

/*----------------------DIV EFFECTS----------------------*/
.div-with-separator {
  border-right: 1px solid rgba(231, 234, 243, .8);
  transform: skewX(-20deg);
}

.div-without-separator {
  transform: skewX(20deg);
}

.landings-popper {
  border-top: 5px solid #377dff;
  z-index: 1000;
}

.moving-header {
  background-color: #fff;
  box-shadow: 0px 10px 5px -5px rgba(162, 198, 225, 0.5);
  z-index: 100000;
  width: 100%;
}

.border-bottom {
  box-shadow: 0px 10px 5px -5px rgba(162, 198, 225, 0.5);
}

/*----------------------HR EFFECTS----------------------*/
.border-light {
  opacity: 0.5;
  margin: 20px -15px;
}
